button{
	display: inline-block;
	width: inherit;
	padding-left: 20px;
	padding-right: 20px;
}

tbody tr:hover{
	/*background: #f6f6f6;*/
	/*cursor: pointer;*/
}

tr td{
	font-size: 14px;
}

.title{
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a{
	cursor: pointer;
	color: #1170B4;
}


.btn {
	width: inherit;
}

.form {
    max-width: 400px;
    left: 50%;
    transform: translateX(-50%);
}


.btn-delete{
	background: #EB5757;
	color: #fff;
}

.modal-header h1 {
    padding: 30px 0 20px;
    line-height: 1.5;
}