<h1 class="title">Список шаблонов</h1>
<div class="d-flex justify-content-between">
  <div class="d-flex">
    <div class="form-group mr-3">
      <label>Статус</label>
      <select (change)="getList()" [(ngModel)]="state">
        <option value="ALL">Все</option>
        <option value="ACTIVE">ACTIVE</option>
        <option value="DRAFT">DRAFT</option>
      </select>
    </div>
    <div class="form-group">
      <label>Предназначение</label>
      <select (change)="getList()" [(ngModel)]="entity">
        <option value="ALL">Всем</option>
        <option value="LEGAL">Для юридических лиц</option>
        <option value="INDIVIDUAL">Для физических лиц</option>
      </select>
    </div>
  </div>
  <div>
    <button
      class="btn btn-primary"
      [routerLink]="['../create']"
      *ngIf="authService.permissions.templates && authService.permissions.templates.canCreate"
    >
      Создать шаблон
    </button>
  </div>
</div>

<div class="table-responsive" *ngIf="authService.permissions.templates && authService.permissions.templates.canRead">
	<table class="table table-hover ">
        <thead>
	        <tr>
	        	<th>#</th>
            <th>Название шаблона</th>
            <th>Статус</th>
            <th>Кому</th>
            <th>Дата создание</th>
            <th></th>
            <th></th>
            <th></th>
	        </tr>
        </thead>
        <tbody>
        	<tr *ngFor="let doc of list; let i = index;">
        		<ng-container *ngIf="doc.state !== 'ARCHIVED'">
              <td>{{i+1}}</td>
              <td><a [routerLink]="['/dashboard/edit/' , doc.documentId]">{{doc?.title[lang]}}</a></td>
              <td>{{doc?.state}}</td>
              <td>{{doc?.entity === 'LEGAL' ? 'Для юридических лиц' : 'Для физических лиц'}}</td>
              <td>{{doc?.createdDate | date : 'medium' : 'GMT+0600'}}</td>
              <td *ngIf="authService.permissions.templates && authService.permissions.templates.canApprove">
                <a *ngIf="doc.state === 'DRAFT'" (click)="approve(doc.documentId)">Утвердить</a>
              </td>
              <td>
                <i class="fa fa-pencil cursor-pointer" [routerLink]="['/dashboard/edit/' , doc.documentId]"></i>
              </td>
              <td *ngIf="authService.permissions.templates && authService.permissions.templates.canDelete">
                <i *ngIf="doc.state === 'DRAFT' || doc.state === 'ACTIVE'" (click)="deleteTemplate(doc)" class="fa fa-trash color-red cursor-pointer"></i>
              </td>
        		</ng-container>
        	</tr>
          <tr *ngIf="list.length === 0 && !loading">
            <td colspan="20">Нет данных</td>
          </tr>
          <tr *ngIf="loading">
            <td colspan="20">
              <div class="d-flex justify-content-center">
                <fa name="spinner" animation="spin"></fa>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>

<div class="modalF" [ngClass]="{'closed': !modal}">
  <div class="modal-overley" (click)="modal=false"></div>
  <div class="form">
    <div class="close" (click)="modal=false">×</div>
    <div class="modal-header">
        <h1>Вы уверены, что хотите удалить шаблон {{deleteDoc?.title[lang]}}?</h1>
    </div>

    <div class="modal-footer">
        <div class="btn f-r" (click)="modal = false">нет</div>
        <button class="btn btn-delete" (click)="deleteModalTemplate(deleteDoc.documentId)">
            да
        </button>
    </div>
  </div>
</div>
