<h2 class="title">
	Справочники
	<button
    class="btn btn-primary"
    [routerLink]="['../create']"
    *ngIf="permissions.canCreate"
  >
    Создать новый справочник</button>
</h2>

<div class="table-responsive" *ngIf="permissions.canRead">
	<table class="table table-hover ">
        <thead>
	        <tr>
	        	<th>Код</th>
	        	<th class="edit-list">Наименование на казахском</th>
	          	<th class="edit-list">Наименование на русском</th>
	          	<th class="edit-list">Наименование на английском</th>
	          	<th colspan="2"></th>
	        </tr>
        </thead>
        <tbody>
        	<tr *ngFor="let item of list; let i = index;" >
	            <td><a [routerLink]="['/dashboard/dictionary/edit' , item.id]">{{item.id}}</a></td>
	          	<td>{{item.title.kk}}</td>
	          	<td>{{item.title.ru}}</td>
	          	<td>{{item.title.en}}</td>
	          	<td *ngIf="permissions.canDelete">
	          		<svg (click)="deleteDictionary(item.id)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9ZM15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5Z" fill="#EB5757"/>
					</svg>
	          	</td>
	          	<td *ngIf="permissions.canEdit">
	          		<a [routerLink]="['/dashboard/dictionary/edit' , item.id]">
		          		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						    <path d="M3 17.2496V20.9996H6.75L17.81 9.93957L14.06 6.18957L3 17.2496ZM20.71 7.03957C21.1 6.64957 21.1 6.01957 20.71 5.62957L18.37 3.28957C17.98 2.89957 17.35 2.89957 16.96 3.28957L15.13 5.11957L18.88 8.86957L20.71 7.03957Z" fill="#20A2DE"/>
						</svg>
					</a>
	          	</td>
        	</tr>
        </tbody>
    </table>
</div>
