button{
	display: inline-block;
	width: inherit;
	padding-left: 20px;
	padding-right: 20px;
}

tr td{
	font-size: 14px;
}

.title{
	margin-bottom: 10px;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a{
	cursor: pointer;
	color: #1170B4;
}

svg{
	cursor: pointer;
}