<div *ngIf="timeIsOver">
  <div class="modal-overley"></div>
  <div class="form">
    <div class="modal-header">
      <h1>Ваша сессия истекла!</h1>
      <p>Войдите заново</p>
    </div>
    <app-login [minHeight]="'400px'"></app-login>
  </div>
</div>
