.login-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(17,112,180);
    background: radial-gradient(circle, rgba(17,112,180,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

.login-content {
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #09117d;
    max-width: 340px;
    width: 100%;
}


h1 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}


.logo img {
    max-width: 30px;
    float: left;
    margin-right: 10px;
}

.logo span {
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    color: #1170b4;
    font-weight: 600;
    line-height: 1.4;
}

.logo {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.logo b {
    text-transform: none;
    font-weight: 700;
}
