<form>
  <div class="login-wrap" [ngStyle]="{'min-height': minHeight}">
    <div class="login-content">
<!--      <div class="logo">-->
<!--        <img src="assets/imgs/logo.svg" alt="">-->
<!--        <b>Smart Contract</b>-->
<!--        <span>Панель администратора</span>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="app_user">Пользователь</label>-->
<!--        <input-->
<!--          type="text"-->
<!--          id="app_user"-->
<!--          name="app_user"-->
<!--          [(ngModel)]="user.username"-->
<!--        >-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="app_password">Пароль</label>-->
<!--        <input-->
<!--          type="password"-->
<!--          id="app_password"-->
<!--          name="app_password"-->
<!--          [(ngModel)]="user.password"-->
<!--        >-->
<!--      </div>-->
<!--      <button-->
<!--        class="btn btn-primary"-->
<!--        type="submit"-->
<!--        (click)="onLogin()"-->
<!--        [disabled]="disabled()"-->
<!--        [class.disabled]="disabled()"-->
<!--      >-->
<!--        Войти <fa *ngIf="loading" name="spinner" animation="spin"></fa>-->
<!--      </button>-->
<!--      <div>Или</div>-->
      <a [href]="idpLink" class="btn btn-primary">
        Войти с помощью Egov
      </a>
    </div>
  </div>
</form>
