.content{
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	border: 0 solid rgba(0,0,0,.125);
	border-radius: .25rem;
	background-color: #fff;
	background-clip: border-box;
	transition: box-shadow ease .2s;
	box-shadow: 0 25px 50px rgba(8,21,66,.06);
	padding: 20px;
}

.btn {
	display: inline-block;
	width: inherit;
	float: right;
	margin-top: 20px;
	max-width: 100%;
}


.right-panel{
	position: fixed;
	background: #fff;
	top: 65px;
	bottom: 0;
	right: 0;
	width: 289px;
	padding: 20px;
	border-left:1px solid #dbdbdb;
	overflow: auto;
}

.divider{
	border-bottom:1px solid #dce4ec;
	height: 1px;
	background: #ccc;
	display: block;
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
}


.languages label {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px #3c3b3b2e;
    font-size: 13px;
    font-weight: 600;
}

.languages label:hover{
    background: #f6f6f6;
}

.languages label.active{
    background: #1170B4;
    color: #fff;
}

.hidden{
	display: none;
}
.bins h2 {
  font-size: 18px;
}
.bins a {
  font-size: 12px;
  color: #1170B4;
}
