<div class="languages" *ngIf="lang">
  <label [class.active]="lang === 'kk'" (click)="lang = 'kk'">Қазақша</label>
  <label [class.active]="lang === 'ru'" (click)="lang = 'ru'">На русском</label>
  <label [class.active]="lang === 'en'" (click)="lang = 'en'">English</label>
</div>

<app-tiny-editor
  *ngIf="editor.ru && dictionaries"
  [class.hidden]="lang !== 'ru'"
  [elementId]="'ru'"
  (onEditorContentChange)="keyupHandler($event)"
  [value]="editor['ru']"
  [fields]="fields"
  [dictionaries]="dictionaries"
></app-tiny-editor>

<app-tiny-editor
  *ngIf="editor.kk && dictionaries"
  [class.hidden]="lang !== 'kk'"
  [elementId]="'kk'"
  (onEditorContentChange)="keyupHandler($event)"
  [value]="editor['kk']"
  [fields]="fields"
  [dictionaries]="dictionaries"
></app-tiny-editor>

<app-tiny-editor
  *ngIf="editor.en !== null && dictionaries"
  [class.hidden]="lang !== 'en'"
  [elementId]="'en'"
  (onEditorContentChange)="keyupHandler($event)"
  [value]="editor['en']"
  [fields]="fields"
  [dictionaries]="dictionaries"
></app-tiny-editor>

<div class="right-panel">
	<div class="form-group">
		<h4>Название документа:</h4>
    <br/>
    <label for="kk">на казахском</label>
    <input
      id="kk"
      type="text"
      placeholder=""
      [(ngModel)]="document['title']['kk']"
      [disabled]="!permissions?.canEdit"
    >
    <br>
    <label for="ru">на русском</label>
    <input
      id="ru"
      type="text"
      [(ngModel)]="document['title']['ru']"
      [disabled]="!permissions?.canEdit"
    >
		<br>
    <label for="en">на английском</label>
    <input
      id="en"
      type="text"
      [(ngModel)]="document['title']['en']"
      [disabled]="!permissions?.canEdit"
    >
	</div>
	<div class="divider"></div>
	<div class="form-group">
		<h4>Описание документа:</h4>
    <br/>
    <label for="kkDesc">на казахском</label>
    <input
      id="kkDesc"
      type="text"
      [(ngModel)]="document['description']['kk']"
      [disabled]="!permissions?.canEdit"
    >
    <br>
    <label for="ruDesc">на русском</label>
    <input
      id="ruDesc"
      type="text"
      [(ngModel)]="document['description']['ru']"
      [disabled]="!permissions?.canEdit"
    >
		<br>
    <label for="enDesc">на английском</label>
    <input
      id="enDesc"
      type="text"
      [(ngModel)]="document['description']['en']"
      [disabled]="!permissions?.canEdit"
    >
	</div>
  <div class="divider"></div>
  <h4>Предназначение</h4>
  <br/>
  <div class="form-group flex-row">
    <input
      class="mr-2"
      id="legal"
      type="radio"
      [value]="'LEGAL'"
      [(ngModel)]="document.entity"
      [disabled]="!permissions?.canEdit"
    >
    <label for="legal">Для юр. лиц</label>
  </div>
  <div class="form-group flex-row">
    <input
      class="mr-2"
      id="individual"
      type="radio"
      [value]="'INDIVIDUAL'"
      [(ngModel)]="document.entity"
      [disabled]="!permissions?.canEdit"
    >
    <label for="individual">Для физ. лиц</label>
  </div>
  <div *ngIf="document.entity === 'LEGAL'" class="bins">
    <div class="divider"></div>
    <h2 class="mb-2">Разрешеные БИН-ы</h2>
    <div class="mb-2">
      <label for="all">
        <input
          id="all"
          type="checkbox"
          [(ngModel)]="accessAll"
        >
        Разрешить всем
      </label>
    </div>
    <div *ngFor="let bin of bins; let i = index; trackBy: trackByIndex;" class="form-group mb-2">
      <input type="text" [(ngModel)]="bins[i]" placeholder="Введте 12-значное число" [disabled]="accessAll"/>
    </div>
    <div>
      <a (click)="addNewBin()" class="cursor-pointer">Добавить БИН</a>
    </div>
  </div>
  <br/>
  <div class="divider"></div>
  <button
    class="btn btn-primary"
    (click)="create()"
    *ngIf="permissions?.canEdit"
  >{{ !id ? 'Создать шаблон' : 'Сохранить изменения'}}</button>
</div>
