.content{
    padding-right: 300px;
}

.btn {
	display: inline-block;
	width: inherit;
	float: right;
	max-width: 100%;
}

.right-panel{
	position: fixed;
	background: #fff;
	top: 65px;
	bottom: 0;
	right: 0;
	width: 289px;
	padding: 20px;
	border-left:1px solid #dbdbdb;
	overflow: auto;
}

.divider{
	border-bottom:1px solid #dce4ec;
	height: 1px;
	background: #ccc;
	display: block;
	margin-bottom: 20px;
	margin-left: -20px;
	margin-right: -20px;
}

td{
	font-size: 14px;
	background: #fff;
	vertical-align: middle;
}

td .form-group{
	margin-bottom: 0;
}

svg{
	cursor: pointer;
}

select{
	width: 100%;
}

input:disabled{
	background: #f5f5f5;
}