<div class="content">
  <table class="table table-hover ">
    <thead>
    <tr>
      <th>Код</th>
      <th class="edit-list">Наименование на казахском</th>
      <th class="edit-list">Наименование на русском</th>
      <th class="edit-list">Наименование на английском</th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of dictionary?.elements; let i = index;">
      <td>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="item.id"
            [disabled]="!permissions.canEdit"
          >
        </div>
      </td>
      <td>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="item.name.kk"
            [disabled]="!permissions.canEdit"
          >
        </div>
      </td>
      <td>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="item.name.ru"
            [disabled]="!permissions.canEdit"
          >
        </div>
      </td>
      <td>
        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="item.name.en"
            [disabled]="!permissions.canEdit"
          >
        </div>
      </td>
      <td *ngIf="permissions.canDelete">
        <svg (click)="deleteItem(i)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
             fill="none">
          <path
            d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9ZM15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5Z"
            fill="#EB5757"/>
        </svg>
      </td>
      <td *ngIf="permissions.canEdit">
        <svg (click)="addItem(i)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 50 50"
             style="enable-background:new 0 0 50 50;" xml:space="preserve" fill="none">
						<circle style="fill:#43B05C;" cx="25" cy="25" r="25"/>
          <line
            style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            x1="25" y1="13" x2="25" y2="38"/>
          <line
            style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;"
            x1="37.5" y1="25" x2="12.5" y2="25"/>
					</svg>

      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="right-panel">
  <div class="form-group">
    <label for="code">Код справочника:</label>
    <input id="code" type="text" [(ngModel)]="dictionary.id" [disabled]="!permissions.canEdit">
  </div>
  <div class="divider"></div>
  <div class="form-group">
    <h4>Название справочника:</h4>
    <br/>
    <label for="kk">на казахском</label>
    <input
      id="kk"
      type="text"
      [(ngModel)]="dictionary['title']['kk']"
      [disabled]="!permissions.canEdit"
    >
    <br>
    <label for="ru">на русском</label>
    <input
      id="ru"
      type="text"
      placeholder=""
      [(ngModel)]="dictionary['title']['ru']"
      [disabled]="!permissions.canEdit"
    >
    <br>
    <label for="en">на английском</label>
    <input
      id="en"
      type="text"
      [(ngModel)]="dictionary['title']['en']"
      [disabled]="!permissions.canEdit"
    >
  </div>
  <div class="divider"></div>
  <div class="form-group">
    <label for="type">Вид справочника</label>
    <select id="type" [(ngModel)]="dictionary.dictionaryType" [disabled]="!permissions.canEdit">
      <option [value]="sourceTypes.LIST_ITEM">Элемент списка</option>
      <option [value]="sourceTypes.STATIC">Статичный</option>
      <option [value]="sourceTypes.DYNAMIC">Динамичный</option>
      <option [value]="sourceTypes.DYNAMIC_LIST">Динамичный список</option>
    </select>
    <br>
    <div *ngIf="dictionary.dictionaryType === sourceTypes.DYNAMIC || dictionary.dictionaryType === sourceTypes.DYNAMIC_LIST">
      <label for="source">Источник (Source)</label>
      <input
        id="source"
        type="text"
        [disabled]="!permissions.canEdit"
        [(ngModel)]="dictionary.sourceUrl"
      />
    </div>
  </div>
  <div class="divider"></div>
  <button
    class="btn btn-primary"
    (click)="create()"
    *ngIf="permissions.canEdit"
  >
    {{ !id ? 'Создать справочник' : 'Сохранить изменения'}}</button>
</div>
