<div
  style="display: none;"
  class="btn btn-secondary"
  id="openModalButton{{elementId}}"
  (click)="modal = true"
></div>

<div class="tiny-content">
  <textarea id="{{elementId}}">{{value}}</textarea>
</div>


<div class="modalF" [ngClass]="{'closed': !modal}" *ngIf="permissions.canEdit">
  <div class="modal-overley" (click)="modal=false"></div>
  <div class="form">
    <div class="close" (click)="modal=false">×</div>
    <div class="modal-header">
      <h1>Все поля для шаблона </h1>
    </div>

    <div class="modal-body" id="modalBody" *ngIf="!addEdit">
      <div class="modal-scr">
        <div class="field" *ngFor="let item of fields;let i = index" tabindex="{{i}}" (blur)="item['expand'] = false">
          <p (click)="item['expand'] = !item['expand']">
            <span>
              <b>{{item.order}}</b> - {{item.title[elementId]}}
            </span>
            <svg _ngcontent-lsc-c30="" fill="none" height="24" viewBox="0 0 24 24" width="24"
                 xmlns="http://www.w3.org/2000/svg">
              <path _ngcontent-lsc-c30="" clip-rule="evenodd"
                    d="M16.6 8.59961L12 13.1996L7.4 8.59961L6 9.99961L12 15.9996L18 9.99961L16.6 8.59961Z"
                    fill="#595D63" fill-rule="evenodd"></path>
            </svg>
          </p>
          <div class="field-buttons" *ngIf="item['expand']">
            <ul>
              <li *ngIf="item.sourceType !== 'STATIC'" (click)="insertField(item);item['expand'] = false">Вставить</li>
              <li (click)="edit(i,item);item['expand'] = false">Редактировать</li>
              <li (click)="delete(i,item);item['expand'] = false">Удалить</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="info-fileds" *ngIf="!fields" (click)="openNewField()">
        Добавить новое поле
      </div>
    </div>

    <div class="modal-body" *ngIf="addEdit">
      <div class="row">
        <div class="label-form">
          <label for="">Код <span>*</span></label>
          <input type="text" [(ngModel)]="field.code">
        </div>
        <div class="label-form">
          <label for="">Тип поля <span>*</span></label>
          <select name="" id="" [(ngModel)]="field.dataType">
            <option *ngFor="let item of dataTypes" [ngValue]="item.code">{{item.name}}</option>
          </select>
        </div>
        <div class="label-form">
          <label for="">Валидатор <span>*</span></label>
          <input type="text" [(ngModel)]="field.validator">
        </div>
        <div class="label-form">
          <label for="">Порядок <span>*</span></label>
          <input type="number" [(ngModel)]="field.order">
        </div>
      </div>
      <div class="row"
           *ngIf="field.dataType === 'DATE_TIME' || field.dataType === 'TIME' || field.dataType === 'LOCAL_DATE'">
        <div class="label-form"></div>
        <div class="label-form">
          <label for="">Дата больше чем </label>
          <input type="text" [(ngModel)]="field.dateGreaterThan">
        </div>
        <div class="label-form">
          <label for="">Дата меньше чем</label>
          <input type="text" [(ngModel)]="field.dateLessThan">
        </div>
        <div class="label-form"></div>
      </div>
      <div class="row">
        <div class="label-form">
          <label for="">Значение по умолчанию</label>
          <input type="text" [(ngModel)]="field.defaultValue">
        </div>
        <div class="label-form">
          <label for="">Справочник</label>
          <app-search-dropdown
            [items]="parsedDictionaries"
            (selectItem)="onChangeDictionary($event)"
            [multiple]="true"
          >
          </app-search-dropdown>
        </div>
        <div class="label-form">
          <label for="">Поле справочника</label>
          <input type="text" [(ngModel)]="field.targetFields[0]" [disabled]="!field.source">
        </div>
        <div class="label-form">
          <label for="">Максимальная длина</label>
          <input type="number" [(ngModel)]="field.length">
        </div>

      </div>
      <div class="row">
        <div class="label-form">
          <label for="">Дополнительно поле</label>
          <input type="text" [(ngModel)]="field.additional">
        </div>
        <div class="label-checkbox">
          <input type="checkbox" id="display" [(ngModel)]="field.display">
          <label for="display">Показывать</label>
        </div>
        <div class="label-checkbox">
          <input type="checkbox" id="mandatory" [(ngModel)]="field.mandatory">
          <label for="mandatory">Обязательное поле</label>
        </div>
        <div class="label-checkbox">
          <input type="checkbox" id="readOnly" [(ngModel)]="field.readOnly">
          <label for="readOnly">Только для чтения</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="label-form">
          <label for="">Название <span>*</span></label>
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.title['kk']" placeholder="На казахском">
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.title['ru']" placeholder="На русском">
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.title['en']" placeholder="На английском">
        </div>
      </div>
      <div class="row">
        <div class="label-form">
          <label for="">Название заголовка</label>
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.groupTitleKz" placeholder="На казахском">
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.groupTitleRu" placeholder="На русском">
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.groupTitleEn" placeholder="На английском">
        </div>
      </div>
      <div class="row">
        <div class="label-form">
          <label for="">Cообщение об ошибке</label>
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.errorMessage['kk']" placeholder="На казахском">
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.errorMessage['ru']" placeholder="На русском">
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.errorMessage['en']" placeholder="На английском">
        </div>
      </div>
      <div class="row">
        <div class="label-form">
          <label for="">Подсказка </label>
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.hint['kk']" placeholder="На казахском">
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.hint['ru']" placeholder="На русском">
        </div>
        <div class="label-form">
          <input type="text" [(ngModel)]="field.hint['en']" placeholder="На английском">
        </div>
      </div>
      <div class="row">
          <div class="label-form">
            <label for="">Заполнитель</label>
          </div>
          <div class="label-form">
            <input type="text" [(ngModel)]="field.placeHolder['kk']" placeholder="На казахском">
          </div>
          <div class="label-form">
            <input type="text" [(ngModel)]="field.placeHolder['ru']" placeholder="На русском">
          </div>
          <div class="label-form">
            <input type="text" [(ngModel)]="field.placeHolder['en']" placeholder="На английском">
          </div>
        </div>
    </div>

    <div class="modal-footer">
      <div class="btn f-r" (click)="addEdit ? closeAddEdit() : modal = false">Закрыть</div>
      <button class="btn btn-primary" (click)="addEdit ? addNewField() : openNewField() ">
        {{!addEdit ? 'Добавить поле' : 'Сохранить'}}
      </button>
    </div>
  </div>
</div>
