.tiny-content{
	padding-right: 300px;
}


.modal-scr {
    text-align: left;
}

.field {
    display: inline-block;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 2%;
    position: relative;
}

.field p {
    padding: 5px;
    background: #f3f3f3;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-footer .btn{
    max-width: 30%;
}

.field-buttons {
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: -1px;
}

.field-buttons li {
    padding: 5px;
    background: #f3f3f3;
    font-size: 14px;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

.field-buttons ul {
    border: 1px solid #ccc;
    border-top: none;
}

.field-buttons li:hover {
    background: #1170b4;
    color: #fff;
}

.info-fileds {
    border: 1px dashed #ccc;
    padding: 40px 0;
    text-align: center;
    color: #1170b4;
    cursor: pointer;
    font-size: 14px;
    text-transform: lowercase;
    text-decoration: underline;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.modal-body{
    overflow-x: hidden;
}

.add-edit-fields.show{
    left: 0;
    right: 0;
}

.row{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.label-form{
    width: 24%;
}

.label-form label {
    display: block;
    display: block;
    font-size: 14px;
    line-height: normal;
    color: #595d63;
    margin-bottom: 8px;
    font-weight: 600;
}

.label-form label span{
    color: red;
}

.label-form input,.label-form select {
    height: 44px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    display: block;
}

.label-form {
    margin-bottom: 10px;
}

.block {
    width: 24%;
}

table .label-form{
    width: 100%;
}

table td, table th{
    border: none;
    width: 24%;
}

input:disabled{
    background: #f5f5f5!important;
}

.languages label {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 0 3px #3c3b3b2e;
    font-size: 13px;
    font-weight: 600;
}

.languages label:hover{
    background: #f6f6f6;
}

.languages label.active{
    background: #1170B4;
    color: #fff;
}

.label-checkbox {
    width: 24%;
    margin-top: 1%;
}
