<div class="content">
  <table class="table table-hover ">
    <thead>
    <tr>
      <th class="edit-list">Иин</th>
      <th class="edit-list">Имя</th>
      <th class="edit-list">Фамилия</th>
      <th class="edit-list">Роль</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="user">
      <td>{{user.iin || ''}}</td>
      <td>{{user.firstName || ''}}</td>
      <td>{{user.lastName || ''}}</td>
      <td>
        <select
          [(ngModel)]="user.role"
          *ngIf="user"
          [disabled]="!permissions.canEdit"
        >
          <option value="ADMIN">Администратор</option>
          <option value="MANAGER">Менеджер</option>
          <option value="SIMPLE">Пользователь</option>
        </select>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<div class="right-panel" *ngIf="permissions.canEdit">
  <div class="form-group">
    <label for="">ИИН:</label>
    <input
      type="text"
      [(ngModel)]="newUser.iin"
      (keydown)="onInputChange($event)"
      maxlength="12"
      required
    >
    <button
      class="btn btn-primary user-create__search-btn"
      [disabled]="newUser.iin.length!==12"
      title="lenght must be 12"
      (click)="searchUser()"
    >
      Найти
    </button>
    <div class="clearfix"></div>
  </div>
  <div class="form-group user-create__found-user" *ngIf="isUserFound">
    <label for="">Имя:</label>
    <p class="user-create__found-user-info">{{newUser.firstName}}</p>
    <label for="">Фамилия:</label>
    <p class="user-create__found-user-info">{{newUser.lastName}}</p>
    <label for="">Роль:</label>
    <select [(ngModel)]="newUser.role">
      <option value="ADMIN">Администратор</option>
      <option value="SIMPLE">Пользователь</option>
    </select>
  </div>
  <button class="btn btn-primary" (click)="create()" [disabled]="!id && !isUserFound">{{ !id ? 'Создать пользователя' : 'Сохранить изменения'}}</button>
</div>
