div.search-dropdown {
  border: 1px solid rgba(0,0,0,0.12);
}
.search-dropdown > input.search-dropdown {
  max-width: calc(100% - 24px);
  border: none;
  cursor: pointer;
}
input.search-dropdown {
  height: 44px;
}
input.search-dropdown:read-only {
  background: #fff
}
.search-dropdown::placeholder {
  color: #A7ABB2
}
.cursor-pointer {
  cursor: pointer;
}
.dropdown-list {
  text-align: left;
  top: 44px;
  left: 0;
  max-height: 300px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  list-style-type: none;
  background: #fff;
  z-index: 1100;
  border: 1px solid rgba(0,0,0,0.12);
}
.dropdown-list li {
  font-size: 12px;
}
.arrow {
  right: 1px;
  top: 1px;
  height: calc(100% - 1px);
  width: 24px;
  background-color: #fff;
  line-height: 50px;
}
.arrow img {
  border-left: 1px solid rgba(0,0,0,0.12);
}
.dropdown-list .item:not(:first-child) {
  padding: 8px;
}
.item:hover {
  background-color: rgba(0,0,0,.05)
}
