<div class="search-dropdown position-relative" (appClickOutside)="onCloseDropdown()">
  <input
    type="text"
    class="form-control search-dropdown pl-2 pr-2"
    [ngModel]="selectedText"
    [placeholder]="placeholder"
    (focus)="onFocus()"
    readonly
  />

  <div class="arrow position-absolute">
    <img
      class="cursor-pointer"
      src="../../../../assets/imgs/arrow-{{arrowState}}.svg"
      alt=""
      (click)="onToggleDropdown()"
    />
  </div>
  <ul class="dropdown-list position-absolute p-0" *ngIf="showList && items">
    <li class="item" *ngIf="items.length > 5">
      <input
        *ngIf="search"
        type="text"
        class="form-control search-dropdown pl-2 pr-2"
        [(ngModel)]="searchText"
        placeholder="Поиск"
      />
    </li>
    <li class="item cursor-pointer" *ngFor="let item of items | searchPipe: 'name' : searchText" (click)="onSelectItem(item)" >
      <label class="d-flex justify-content-between w-100 cursor-pointer" for="item_{{item.id}}" *ngIf="item && multiple">
        <input type="checkbox" id="item_{{item.id}}" [(ngModel)]="item.selected" (change)="onChangeSelected(item)">
        <span class="name">{{item.name}}</span>
      </label>
      <label class="d-flex justify-content-between w-100 cursor-pointer" for="item_{{item.id}}" *ngIf="item && !multiple">
        <input type="checkbox" hidden id="item_{{item.id}}" [(ngModel)]="item.selected" (change)="onChangeSelected(item)">
        <span>{{item.name}}</span>
      </label>
    </li>
    <li class="item" *ngIf="items.length === 0">
      {{emptyText}}
    </li>
  </ul>
</div>
