<div class="admin-header">
	<a [routerLink]="['/dashboard/list']" class="logo">
		<img src="assets/imgs/logo.svg" alt="">
		<b>Smart Contract</b>
		<span>админ панель</span>
	</a>
	<div class="right">
		<div class="nav">
			<a [routerLink]="['/dashboard/list']" routerLinkActive="active" *ngIf="permissions.templates && permissions.templates.canRead">Все шаблоны</a>
			<a [routerLink]="['/dashboard/users']" routerLinkActive="active" *ngIf="permissions.users && permissions.users.canRead">Пользователи</a>
			<a [routerLink]="['/dashboard/dictionary']" routerLinkActive="active" *ngIf="permissions.dictionaries && permissions.dictionaries.canRead">Справочники</a>
		</div>
		<div class="right-exit">
			<div class="logout" (click)="onLogout()">Выйти</div>
		</div>
	</div>
</div>

<div class="admin-main">
	<router-outlet></router-outlet>
</div>
