.admin-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    height: 65px;
    border-bottom: 1px solid rgba(0,0,0,.14);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
}
.nav{
    display: flex;
}

.admin-main{
    padding: 20px;
    padding-top: 90px;
}

.logo{
    color: inherit;
    text-decoration: none;
}

.logo img {
    max-width: 30px;
    float: left;
    margin-right: 10px;
}

.logo span {
    font-size: 11px;
    display: block;
    text-transform: uppercase;
    color: #1170b4;
    font-weight: 600;
    line-height: 1.4;
}

.logo {
    position: relative;
    overflow: hidden;
}

.logo b {
    text-transform: none;
    font-weight: 700;
}

.logout {
    text-transform: uppercase;
    color: #EB5757;
    font-weight: 600;
    font-size: 13px;
    outline: none;
    cursor: pointer;
}

.right-exit {
    height: 65px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
}

.nav a {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #151515;
    text-decoration: none;
    height: 65px;
    display: block;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    line-height: 65px;
    padding: 0 20px;
    margin-right: -1px;
    font-size: 14px;
    color: #595D63;
    min-width: 180px;
    text-align: center;
}

.nav a.active{
    color: #1170B4;
}

.right{
    display: flex;
}