html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

body,html{
	height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	color: #2e384d;
    background-color: #edf2f9;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
}

button, input{
	font-family: 'Open Sans', sans-serif;
}

*,*:after,*:before{
	box-sizing: border-box;
}


.btn {
	text-decoration:none;
    width: 100%;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding: 10px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #d2d2d2;
    border-radius: .25rem;
    background-color: transparent;
    color: #6d6d6d;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
}
.btn:hover {
    background: #d2d2d2;
    color: #fff;
}

.btn-primary{
    background: #1170B4;
    color: #fff;
}

.btn-primary:hover{
    background: #105b90;
    color: #fff;
}


h2.title{
	font-weight: 600;
	font-size: 18px;
	line-height: normal;

	color: #000000;
	margin-bottom: 20px;
}

table{
	width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    vertical-align: middle;
}

table td, table th {
    padding: .9375rem;
    vertical-align: top;
    border-top: 1px solid #edf2f9;
}

table tfoot th, table thead th {
    font-size: .7875rem;
    font-weight: 700;
    letter-spacing: .08em;
    text-transform: uppercase;
    color: #95aac9;
    border-bottom-width: 1px;
    background-color: #f9fbfd;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #edf2f9;
    text-align: left;
}

.table-responsive {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #fff;
    background-clip: border-box;
    transition: box-shadow ease .2s;
    box-shadow: 0 25px 50px rgba(8,21,66,.06);
}

span.mce-branding {
    display: none;
}

.modal-overley {
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 75535;
}

.form {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .22), 0 17px 20px 0 rgba(0, 0, 0, .12);
    /*left: calc(50% - 240px);*/
    position: fixed;
    top: 80px;
    width: calc(100% - 150px);
    z-index: 76535;
    transition: all .5s ease;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0;
    outline: 0;
}

.close {
    cursor: pointer;
    right: 10px;
    position: absolute;
    top: 4px;
    z-index: 99;
    font-size: 30px;
    line-height: 30px;
}

.closed .form {
    top: -1000px;
}

.closed .modal-overley{
    display: none;
}

.form h1 {
    font-weight: 600;
    letter-spacing: .02rem;
    font-size: 1.21875rem;
    color: rgba(0,0,0,.87);
    color: #444;
    font-size: 16px;
}



.form p {
    font-size: 18px;
    color: #444;
}

.close:hover {
    color: #000;
}

.modal-header {
    padding: 20px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-bottom: 0;
}

.modal-body {
    padding: 20px;
    text-align: center;
    height: 70vh;
    overflow: auto;
    position: relative;
}

.modal-footer {
    padding: 20px;
    display: flex;
    border-top: 1px solid rgba(0,0,0,.05);
    justify-content: space-between;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 13px;
  line-height: 18px;
  color: #565656;
  font-weight: 600;
}

.form-group input {
    width: 100%;
    display: block;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    height: calc(2.1rem + 2px);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #2e384d;
    border: 1px solid #dce4ec;
    border-radius: .25rem;
    background-color: #fff;
  margin: 0;
}
.form-group input[type="radio"] {
  display: inline-block;
  height: 20px;
  width: auto;
}


select{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.label-checkbox label{
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    font-weight: 600;
}

.label-checkbox label:before{
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #ced5dc;
    display: inline-block;
    vertical-align: text-bottom;
    margin-right: 5px;
    border-radius: 3px
}

.label-checkbox input{
    display: none!important;
}

.label-checkbox input:checked+label:after{
    content: '';
    position: absolute;
    left: 5px;
    top: 6px;
    background: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #1170B4,4px 0 0 #1170B4,4px -2px 0 #1170B4,4px -4px 0 #1170B4,4px -6px 0 #1170B4,4px -8px 0 #1170B4;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.label-checkbox input:checked+label:before{
    border-color: #1170B4
}

.label-checkbox input:checked+label{
    color: #1170B4
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.disabled {
  cursor: default;
  opacity: .6;
}
.color-red {color: red}
/* flex */
.d-flex {display: flex}
.d-block {display: block}
.justify-content-center {justify-content: center}
.justify-content-end {justify-content: flex-end}
.justify-content-between {justify-content: space-between}
.justify-content-around {justify-content: space-around}
.align-items-center {align-items: center}
.align-items-end {align-items: flex-end}
.align-items-start {align-items: flex-start}
.align-items-baseline {align-items: baseline}
.flex-wrap {flex-wrap: wrap}
.flex-column {flex-direction: column}
.flex-row {flex-direction: row}
.w-100 {
  width: 100%;
}

.m-0 {
  margin: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.m-1 {
  margin: 0.4rem !important;
}
.mt-1 {
  margin-top: 0.4rem !important;
}
.mr-1 {
  margin-right: 0.4rem !important;
}
.mb-1 {
  margin-bottom: 0.4rem !important;
}
.ml-1 {
  margin-left: 0.4rem !important;
}
.mx-1 {
  margin-right: 0.4rem !important;
  margin-left: 0.4rem !important;
}
.my-1 {
  margin-top: 0.4rem !important;
  margin-bottom: 0.4rem !important;
}
.m-2 {
  margin: 0.8rem !important;
}
.mt-2 {
  margin-top: 0.8rem !important;
}
.mr-2 {
  margin-right: 0.8rem !important;
}
.mb-2 {
  margin-bottom: 0.8rem !important;
}
.ml-2 {
  margin-left: 0.8rem !important;
}
.mx-2 {
  margin-right: 0.8rem !important;
  margin-left: 0.8rem !important;
}
.my-2 {
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}
.m-3 {
  margin: 1.6rem !important;
}
.mt-3 {
  margin-top: 1.6rem !important;
}
.mr-3 {
  margin-right: 1.6rem !important;
}
.mb-3 {
  margin-bottom: 1.6rem !important;
}
.ml-3 {
  margin-left: 1.6rem !important;
}
.mx-3 {
  margin-right: 1.6rem !important;
  margin-left: 1.6rem !important;
}
.my-3 {
  margin-top: 1.6rem !important;
  margin-bottom: 1.6rem !important;
}
.m-4 {
  margin: 2.4rem !important;
}
.mt-4 {
  margin-top: 2.4rem !important;
}
.mr-4 {
  margin-right: 2.4rem !important;
}
.mb-4 {
  margin-bottom: 2.4rem !important;
}
.ml-4 {
  margin-left: 2.4rem !important;
}
.mx-4 {
  margin-right: 2.4rem !important;
  margin-left: 2.4rem !important;
}
.my-4 {
  margin-top: 2.4rem !important;
  margin-bottom: 2.4rem !important;
}
.m-5 {
  margin: 4.8rem !important;
}
.mt-5 {
  margin-top: 4.8rem !important;
}
.mr-5 {
  margin-right: 4.8rem !important;
}
.mb-5 {
  margin-bottom: 4.8rem !important;
}
.ml-5 {
  margin-left: 4.8rem !important;
}
.mx-5 {
  margin-right: 4.8rem !important;
  margin-left: 4.8rem !important;
}
.my-5 {
  margin-top: 4.8rem !important;
  margin-bottom: 4.8rem !important;
}
.m-auto {
  margin: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.p-1 {
  padding: 0.4rem !important;
}
.pt-1 {
  padding-top: 0.4rem !important;
}
.pr-1 {
  padding-right: 0.4rem !important;
}
.pb-1 {
  padding-bottom: 0.4rem !important;
}
.pl-1 {
  padding-left: 0.4rem !important;
}
.px-1 {
  padding-right: 0.4rem !important;
  padding-left: 0.4rem !important;
}
.py-1 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}
.p-2 {
  padding: 0.8rem !important;
}
.pt-2 {
  padding-top: 0.8rem !important;
}
.pr-2 {
  padding-right: 0.8rem !important;
}
.pb-2 {
  padding-bottom: 0.8rem !important;
}
.pl-2 {
  padding-left: 0.8rem !important;
}
.px-2 {
  padding-right: 0.8rem !important;
  padding-left: 0.8rem !important;
}
.py-2 {
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}
.p-3 {
  padding: 1.6rem !important;
}
.pt-3 {
  padding-top: 1.6rem !important;
}
.pr-3 {
  padding-right: 1.6rem !important;
}
.pb-3 {
  padding-bottom: 1.6rem !important;
}
.pl-3 {
  padding-left: 1.6rem !important;
}
.px-3 {
  padding-right: 1.6rem !important;
  padding-left: 1.6rem !important;
}
.py-3 {
  padding-top: 1.6rem !important;
  padding-bottom: 1.6rem !important;
}
.p-4 {
  padding: 2.4rem !important;
}
.pt-4 {
  padding-top: 2.4rem !important;
}
.pr-4 {
  padding-right: 2.4rem !important;
}
.pb-4 {
  padding-bottom: 2.4rem !important;
}
.pl-4 {
  padding-left: 2.4rem !important;
}
.px-4 {
  padding-right: 2.4rem !important;
  padding-left: 2.4rem !important;
}
.py-4 {
  padding-top: 2.4rem !important;
  padding-bottom: 2.4rem !important;
}
.p-5 {
  padding: 4.8rem !important;
}
.pt-5 {
  padding-top: 4.8rem !important;
}
.pr-5 {
  padding-right: 4.8rem !important;
}
.pb-5 {
  padding-bottom: 4.8rem !important;
}
.pl-5 {
  padding-left: 4.8rem !important;
}
.px-5 {
  padding-right: 4.8rem !important;
  padding-left: 4.8rem !important;
}
.py-5 {
  padding-top: 4.8rem !important;
  padding-bottom: 4.8rem !important;
}

.position-relative {
  position: relative;
}
.position-sticky {
  position: sticky;
}

.overflow-visible {
  overflow: visible !important;
}
.overflow-hidden {
  overflow: hidden!important;
}
.align-right {
  text-align: right;
}
.cursor-pointer { cursor: pointer}
