<h2 class="title">
	Пользователи
	<button
    class="btn btn-primary"
    [routerLink]="['../create']"
    *ngIf="permissions && permissions.canCreate"
  >
    Создать нового пользователя
  </button>
</h2>

<div class="table-responsive" *ngIf="permissions && permissions.canRead">
	<table class="table table-hover ">
        <thead>
	        <tr>
            <th class="edit-list">Иин</th>
            <th class="edit-list">Имя</th>
            <th class="edit-list">Фамилия</th>
            <th class="edit-list">Роль</th>
            <th colspan="2"></th>
	        </tr>
        </thead>
        <tbody>
        	<tr *ngFor="let user of list; let i = index;" >
            <td>{{user.iin}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td *ngIf="user.role === 'ADMIN'">
              Администратор
            </td>
            <td *ngIf="user.role === 'SIMPLE'">
              Пользователь
            </td>
            <td *ngIf="user.role === 'MANAGER'">
              Менеджер
            </td>
            <td *ngIf="permissions.canDelete">
                <svg
                  (click)="deleteUser(user.iin)"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path d="M6 19C6 20.1 6.9 21 8 21H16C17.1 21 18 20.1 18 19V7H6V19ZM8 9H16V19H8V9ZM15.5 4L14.5 3H9.5L8.5 4H5V6H19V4H15.5Z" fill="#EB5757"/>
                </svg>
            </td>
            <td *ngIf="permissions.canEdit">
              <a [routerLink]="['/dashboard/users/edit' , user.iin]">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path d="M3 17.2496V20.9996H6.75L17.81 9.93957L14.06 6.18957L3 17.2496ZM20.71 7.03957C21.1 6.64957 21.1 6.01957 20.71 5.62957L18.37 3.28957C17.98 2.89957 17.35 2.89957 16.96 3.28957L15.13 5.11957L18.88 8.86957L20.71 7.03957Z" fill="#20A2DE"/>
                </svg>
              </a>
            </td>
        	</tr>
        </tbody>
    </table>
</div>


<div class="modalF" [ngClass]="{'closed': !modal}">
  <div class="modal-overley" (click)="modal=false"></div>
  <div class="form">
    <div class="close" (click)="modal=false">×</div>
    <div class="modal-header">
        <h1>Вы уверены, что хотите удалить пользователя?</h1>
    </div>

    <div class="modal-footer">
        <div class="btn f-r" (click)="modal = false">нет</div>
        <button class="btn btn-delete" (click)="deleteModalUser()">
            да
        </button>
    </div>
  </div>
</div>
